/*                                                                                  Main setting   */
:root{
    --main-color: #00BF6F;
    --font-color: #FAFAFA;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*                                                                                           we start making btn     and arrows   */
.btn{
    width: 80%;
    background-color: var(--main-color);
    color: var(--font-color);
    font-size: 15px;
    font-weight: bold;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    box-shadow:rgba(0,0,0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    outline: 0;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 25px;
    text-align: center;
    height: 48px;
}
.btnE{
    width: 318px;
    height: 48px;
}
.btnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 23px;
    position: absolute;
    top: 28.0em;
}
.personBtn{
    margin-top: 46px;
    top: 18em;
}
.btnExplore{
    position: absolute;
    top: 14em;
    width: 90%;
    left: 6%;
    gap: 15px;
}
.btnFamily{
    position: absolute;
    top: 50%;
    width: 90%;
    left: 5%;
}
.btnRelax{
    position: absolute;
    top: 50%;
}
.arrowContainer{
    position: absolute;
    top: 5%;
    left: 5%;
}
.arrowBack{
    border:solid var(--main-color);
    border-width: 0 8px 8px 0;
    padding: 6px;
    display: inline-block;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);

}
.arrowBackLine{
    width: 25px;
    height: 8px;
    background-color: var(--main-color);
    display: inline-block;
    position: relative;
    right: 15px;
    top: -5.5px;
    
}
.goBackButton{
    border: solid var(--main-color);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: absolute;
    top: 5%;
    left: 5%;
    margin: 20px
}
.fullContent{
    background-image:url(./Images/bike-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -60px;
    height: 100vh;
    width: 100%;
}
.firstSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 10px;
}
/*                                                                                              Now we separete all pages!  index.html   */

.heading{
    color: #FAFAFA;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 2.2em;
    left: 15%;
    width: 338px;
    height: 175px;
    
}
.headingCulture{
    width: 100%;
    left: 0px;
}
.headingRelax{
    font-size: 60px;
    left: 10%;
    margin-bottom: 10px;
}
/*                                                                                                  personalized.html */
.personHead{
    position: absolute;
    left: 2.5em;
    width: 179px;
    text-align: center;
    align-items: center;
    font-weight: bolder;
}
.eatDrinkHeading{
    width: 208px;
    left: 25%;
    font-size: 60px;
}
.headingIndex{
    left: 10%;
}
.familyHeading{
    position: absolute;
    top: 2.39em;
    left: 10%;
    font-size: 60px;
}
.headingExplore{
    font-size: 60px;
    top: 2.3em;
    left: 11%;
}
.moreDays{
    position: relative;
    top: 10px;
    font-size: 30px;
    left: 10%;
}

/*                                                                                                  eatAndDrink.html */
.eatDrinkContent{
    background-image: url(./Images/coffe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    height: 100vh;
    width: 100wh;
}

/*                                                                                            active.html       */
.backgroundActive{
    background-image: url(./Images/active.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -240px;
    height: 100vh;
    width: 100wh;
}
/*                                                                                           family        */
.backgroundFamily{
    background-image: url(./Images/pexels-yan-krukov-5792903.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    height: 100vh;
    width: 100wh;
}
/*                                                                                                   Adults */
.backgroundAdults{
    background-image: url(./Images/adults.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -290px;
    height: 100vh;
    width: 100wh;
}
/*                                                                                                Relax   */
.backgroundRelax{
    background-image: url(./Images/relax.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100wh;
}

/*                                                                                                 Culture  */
.backgroundCulture{
    background-image: url(./Images/culture.jpg);
    background-size: cover;
    background-position:left;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100wh;
}

/*                                                                                                 explore  */
.exploreBackground{
    background-image: url(./Images/casper-folsing-7Y8NFmC-WY4-unsplash.jpg);
    background-size: cover;
    background-position:right;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100wh;
}



/*                                                                                             First button on indexx page!! map need to be loaded */  
.kogeMapWillBeHere{
    width: 100%;
    height: 80%;
    background-image: url(./Images/map.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    position: absolute;
    top: 0%;
}
.iconsMenu{
    width: 260px;
    height: 20%;
    position: absolute;
    bottom: 0%;
    left: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}
.iconsMenu img{
    width: 65px;
    height: 65px;
}

/*                                                                                                 Now this is the most interesting part */
/*                                                                                                 i create a function that take arguments */
/*                                                                                                 based on them it create Pop-up Box  */
/*                                                                                                 Bellow is the style for it and if u want to change */
/*                                                                                                 everytime when u use function you need to come here */
/*                                                                                                 and make class with background img thats all u need */
/*                                                                                                 To have pop up window */
.popUpContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    padding: 10px;
    padding-bottom: 20px;
    overflow-y: scroll;

    position: absolute;
    top: 0%;
    left: 5%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.headingPopUp{
    text-align: left;
    color: #00BF6F;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header-row{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.checked{
    color: #00BF6F;
}
.imgForPopUp{
    background-image: url(./Images/culture.jpg);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.imgContainer{
    width: 100%;
    height: 100px;
}
.details{
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.changeColor{
    color:#4D4D4D ;
}
.link{
    text-decoration: none;
    font-weight: 600;
}
.iconContainer{
    position: absolute;
    top: 20%;
    left: 25%;
    width: 60px;
    height: 60px;
}
.iconContainer111{
    position: absolute;
    top: 30%;
    left: 40%;
    width: 60px;
    height: 60px;
}
.iconContainer112{
    position: absolute;
    top: 35%;
    left: 35%;
    width: 60px;
    height: 60px;
}
.iconContainer113{
    position: absolute;
    top: 42%;
    left: 45%;
    width: 60px;
    height: 60px;
}
.iconContainer114{
    position: absolute;
    top: 45%;
    left: 49%;
    width: 60px;
    height: 60px;
}
.iconContainer115{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
}
.iconContainer220{
    top: 29%;
    left: 49%;
}
.iconContainer221{
    top: 31%;
    left: 44%;
}
.iconContainer222{
    top: 28%;
    left: 32%;
}
.iconContainer223{
    top: 34%;
    left: 35%;
}
.iconContainer224{
    top: 39%;
    left: 45%;
}
.iconContainer225{
    top: 39%;
    left: 25%;
}
.iconContainer330{
    top: 15%;
    left: 49.5%;
    
}
.iconContainer331{
    top: 10%;
    left: 52%;
}
.iconContainer332{
    top: 23.5%;
    left: 51%;
}
.iconContainer333{
    top: 45%;
    left: 53%;
}
.iconContainer334{
    top: 38%;
    left: 50.5%;
}
.iconContainer440{
    top: 18%;
    left: 35%;
}
.iconContainer441{
    top: 30%;
    left: 34%;
}
.iconContainer442{
    top: 53%;
    left: 19%;
}
.iconContainer550{
    top: 33%;
    left: 33%;
}
.iconContainer660{
    top: 23%;
    left: 43%;
}
.iconContainer661{
    top: 32%;
    left: 43%;
}
.iconContainer662{
    top: 30%;
    left: 29%;
}
.iconContainer770{
    top:30%;
    left: 50%;
}
.iconContainer771{
    top:33%;
    left: 42%;
}
.iconContainer772{
    top:37%;
    left: 45%;
}
.iconContainer773{
    top:37%;
    left: 35%;
}
.iconContainer774{
    top:46%;
    left: 33%;
}
.iconContainer775{
    top:45%;
    left: 48%;
}
.iconContainer776{
    top: 42%;
    left: 40%;
}
.iconContainer880{
    top:30%;
    left: 22%;
}
.iconContainer881{
    top:33%;
    left: 50%;
}
.iconContainer882{
    top:45%;
    left: 55%;
}

.iconBed{
    background-image: url(./Images/icons/icons/accomodation.png);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.iconDrink{
    background-image: url(./Images/icons/icons/food_drinks.png);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.iconShip{
    background-image: url(./Images/icons/icons/harbour.png);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.iconCulture{
    background-image: url(./Images/icons/icons/museum-copy.png);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.iconHistory{
    background-image: url(./Images/icons/icons/history-copy.png);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.iconIndoor{
    background-image: url(./Images/icons/icons/indoor.png);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

}
.iconOutDoor{
    background-image: url(./Images/icons/icons/outdoor.png);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.iconShopping{
    background-image: url(./Images/icons/icons/shopping-copy.png);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.greenColor{
    border-width: 3px;
}
.firstBed{
    position: absolute;
    left: 45%;
    top: 5%;
}
.secBed{
    position: absolute;
    left: 0;
}
.tirthBed{
    position: absolute;
    left: 45%;
    top: 5%;
}
.fourthBed{
    position: absolute;
    top: 10%;
    left: 45%;
}
.fifthBed{
    position: absolute;
    top: 15%;
    left: 5%;
}
.sixBed{
    position: absolute;
    top: 20%;
    left: 10%;
}
.firstShip{
    position: absolute;
    top: 18%;
    left: 5%;
}

.secShip{
    position: absolute;
    top: 15%;
    left: 5%;
}
.tirthShip{
    position: absolute;
    top: 28%;
    left: 5%;
}
.forthShip{
    position: absolute;
    top: 48%;
    left: 7%;
}
.fiveShip{
    position: absolute;
    top: 35%;
    left: 5%;
}
.fistIndoor{
    position: absolute;
    top: 30%;
    left: 10%;
}
.secondIndoor{
    position: absolute;
    top: 40%;
    left: 50%;
}
.thirthIndoor{
    position: absolute;
    top: 40%;
    left: 10%;
}
.thirthIndoorImg{
    background-image: url(./Images/braetspilscafe.jpg);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.fiveShipImg{
    background-image: url(./Images/summerHuse.jpg);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.forthShipImg{
    background-image: url(./Images/sondreStrand.jpg);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.tirthShipImg{
    background-image: url(./Images/kogeMarina.jpg);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.firstShipImg{
    background-image: url(./Images/fishing.JPG);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.SecShipImg{
    background-image: url(./Images/summerlandKoge.jpg);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.imgFirstBed{
    background-image: url(./Images/Danhostel.jpg);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.imgSecBed{
    background-image: url(./Images/anneHostel.jpg);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.imgTirthBed{
    background-image: url(./Images/centralHotellet.jpg);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.imgFourBed{
    background-image: url(./Images/NielsHotel.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.imgFiveBed{
    background-image: url(./Images/cornHotel.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.imgSixBed{
    background-image: url(./Images/kogeVilla.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.firstOutdoor{

}
.secondOutdoor{
    top: 1%;
    left: 45%;
}
.tirthOutdoor{
    top: 40%;
    left: 5%;
}
.firstRestaurant{
    position: absolute;
    top:8%;
    left:4%;
}
.secRestaurant{
    position: absolute;
    top: 40%;
    left: 4%;
}
.tirthRestaurant{
    position: absolute;
    top: 35%;
    left: 4%;
}
.fourRestaurant{
    position: absolute;
    top: 41%;
    left: 4%;
}
.fiveRestaurant{
    position: absolute;
    top: 9%;
    left: 10%;
}
.sixRestaurant{
    position: absolute;
    top: 9%;
    left: 10%;
}
.fisrtCulture{
    position: absolute;
    top: 28%;
    left: 15%;
}
.secondCulture{
    position: absolute;
    top: 39%;
    left: 15%;
}
.firstHistory{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 33%;
    height: 30%;
}
.secondHistory{
    position: absolute;
    top: 2%;
    left: 35%;
    width: 33%;
    height: 30%;
}
.thirthHistory{
    position: absolute;
    top: 2%;
    left: 65%;
    width: 33%;
    height: 30%;
}
.fourthHistory{
    position: absolute;
    top: 49%;
    left: 66%;
    width: 33%;
    height: 30%;
}
.fiveHistory{
    position: absolute;
    top: 49%;
    left: 2%;
    width: 33%;
    height: 30%;
}
.sixHistory{
    width: 33%;
    height: 30%;
    position: absolute;
    top: 49%;
    left: 34%;
    
}
.sixthHistoryImg{
    background-image: url(./Images/nordiskFilm.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 100%;
    
}
.fifthHistoryImg{
    background-image: url(./Images/kogeChurch.webp);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 100%;
  
}
.fourthHistoryImg{
    background-image: url(./Images/fafla.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 100%;
    
}
.thirthHistoryImg{
    background-image: url(./Images/galerri.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 100%;
    
}
.secondHistoryImg{
    background-image: url(./Images/kogeMuseum.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 100%;
    
}
.firstHistoryImg{
    background-image: url(./Images/KoS_Museum.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 100%;
}
.thirthCulture{
    position: absolute;
    top: 25%;
    left: 32%;
}
.thirthtCultureImg{
    background-image: url(./Images/riddlehouse.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}
.secondCultureImg{
    background-image: url(./Images/veteranImg.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}
.fisrtCultureImg{
    background-image: url(./Images/Køge-Festuge-2018-1.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}
.restaurantSix{
    background-image: url(./Images/kaffe-kaelderen.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}
.restaurantFive{
    background-image: url(./Images/braunstain.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}
.restaurantFour{
    background-image: url(./Images/oldIrish.png);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}
.restaurantThree{
    background-image: url(./Images/freddo.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}
.restaurantOne{
    background-image: url(./Images/Stacys1.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}
.restaurantTwo{
    background-image: url(./Images/bossa.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}

.shoppingOne{
    background-image: url(./Images/shoppingOne.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}
.firstShopping{
    position: absolute;
    top:5%;
    left:5%;
}
.mapOutdoor{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
}