/*                                                                                  Main setting   */
:root{
    --main-color: #00BF6F;
    --font-color: #FAFAFA;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*                                                                                           we start making btn     and arrows   */
.btn{
    width: 90%;
    background-color: var(--main-color);
    color: var(--font-color);
    font-size: 1.0em;
    font-weight: 550;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    box-shadow:rgba(0,0,0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    outline: 0;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 25px;
    text-align: center;
}
.btnE{
    width: 318px;
    height: 48px;
}
.btnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    position: absolute;
    top: 29.0em;
}
.personBtn{
    top: 18em;
    gap: 20px;
}
.btnExplore{
    position: absolute;
    top: 14em;
    width: 90%;
    left: 5%;
    gap: 15px;
}
.btnFamily{
    position: absolute;
    top: 50%;
    width: 90%;
    left: 5%;
}
.btnRelax{
    position: absolute;
    top: 18em;
}
.arrowContainer{
    position: absolute;
    top: 5%;
    left: 5%;
}
.arrowBack{
    border:solid var(--main-color);
    border-width: 0 8px 8px 0;
    padding: 6px;
    display: inline-block;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);

}
.arrowBackLine{
    width: 25px;
    height: 8px;
    background-color: var(--main-color);
    display: inline-block;
    position: relative;
    right: 15px;
    top: -5.5px;
    
}
.goBackButton{
    border: solid var(--main-color);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: absolute;
    top: 5%;
    left: 5%;
    margin: 20px
}
.fullContent{
    background-image:url('/Images/bicycle-koge.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
.firstSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 10px;
}
/*                                                                                              Now we separete all pages!  index.html   */

.heading{
    color: #FAFAFA;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 2.9em;
    left: 15%;
    width: 70%;
}
/*                                                                                                  personalized.html */
.personHead{
    position: absolute;
    left: 30%;
    width: 40%;
    text-align: center;
    align-items: center;
    font-weight: bolder;
}
.eatDrinkHeading{
    width: 59%;
    left: 25%;
    font-size: 4em;
}
.familyHeading{
    position: absolute;
    top: 3.9em;
    left: 10%;
    font-size: 3.2em;
}
.headingExplore{
    font-size: 4em;
    top: 2.3em;
}
.moreDays{
    position: relative;
    top: 24%;
    font-size: 1.5em;
}

/*                                                                                                  eatAndDrink.html */
.eatDrinkContent{
    background-image: url(./Images/coffe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    height: 100vh;
    width: 100wh;
}

/*                                                                                            active.html       */
.backgroundActive{
    background-image: url(./Images/active.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -220px;
    height: 100vh;
    width: 100wh;
}
/*                                                                                           family        */
.backgroundFamily{
    background-image: url(./Images/pexels-yan-krukov-5792903.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    height: 100vh;
    width: 100wh;
}
/*                                                                                                   Adults */
.backgroundAdults{
    background-image: url(./Images/adults.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -250px;
    height: 100vh;
    width: 100wh;
}
/*                                                                                                Relax   */
.backgroundRelax{
    background-image: url(./Images/relax.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100wh;
}

/*                                                                                                 Culture  */
.backgroundCulture{
    background-image: url(./Images/culture.jpg);
    background-size: cover;
    background-position:left;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100wh;
}

/*                                                                                                 explore  */
.exploreBackground{
    background-image: url(./Images/casper-folsing-7Y8NFmC-WY4-unsplash.jpg);
    background-size: cover;
    background-position:right;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100wh;
}



/*                                                                                             First button on indexx page!! map need to be loaded */  
.kogeMapWillBeHere{
    width: 100%;
    height: 80%;
    background-color: slategray;
    position: absolute;
    top: 0%;
}
.iconsMenu{
    width: 80%;
    height: 20%;
    position: absolute;
    bottom: 0%;
    left: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}
.iconsMenu img{
    width: 65px;
    height: 65px;
}
/*                                                                                                 Now this is the most interesting part */
/*                                                                                                 i create a function that take arguments */
/*                                                                                                 based on them it create Pop-up Box  */
/*                                                                                                 Bellow is the style for it and if u want to change */
/*                                                                                                 everytime when u use function you need to come here */
/*                                                                                                 and make class with background img thats all u need */
/*                                                                                                 To have pop up window */
.popUpContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    padding: 10px;
    padding-bottom: 20px;
    overflow-y: scroll;

    position: absolute;
    top: 0%;
    left: 5%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.headingPopUp{
    text-align: left;
    color: #00BF6F;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header-row{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.checked{
    color: #00BF6F;
}
.imgForPopUp{
    background-image: url(./Images/culture.jpg);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.imgContainer{
    width: 100%;
    height: 100px;
}
.details{
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.changeColor{
    color:#4D4D4D ;
}
.link{
    text-decoration: none;
    font-weight: 600;
}
.iconContainer{
    position: absolute;
    top: 20%;
    left: 25%;
    width: 60px;
    height: 60px;
}
.iconContainer111{
    position: absolute;
    top: 30%;
    left: 40%;
    width: 60px;
    height: 60px;
}
.iconContainer112{
    position: absolute;
    top: 35%;
    left: 35%;
    width: 60px;
    height: 60px;
}
.iconContainer113{
    position: absolute;
    top: 42%;
    left: 45%;
    width: 60px;
    height: 60px;
}
.iconContainer114{
    position: absolute;
    top: 45%;
    left: 49%;
    width: 60px;
    height: 60px;
}
.iconContainer115{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
}
.iconContainer220{
    top: 15%;
    left: 55%;
}
.iconContainer221{
    top: 28%;
    left: 60%;
}
.iconContainer222{
    top: 30%;
    left: 40%;
}
.iconContainer223{
    top: 40%;
    left: 65%;
}
.iconContainer224{
    top: 45%;
    left: 45%;
}
.iconContainer225{
    top: 50%;
    left: 25%;
}
.iconContainer330{
    top: 10%;
    left: 65%;
}
.iconContainer331{
    top: 15%;
    left: 62.5%;
}
.iconContainer332{
    top: 18.5%;
    left: 65%;
}
.iconContainer333{
    top: 45%;
    left: 65%;
}
.iconContainer334{
    top: 38%;
    left: 62.5%;
}
.iconContainer440{
    top: 45%;
    left: 45%;
}
.iconContainer770{
    top:30%;
    left: 55%;
}
.iconContainer771{
    top:33%;
    left: 45%;
}
.iconContainer772{
    top:38%;
    left: 50%;
}
.iconContainer773{
    top:35%;
    left: 40%;
}
.iconContainer774{
    top:45%;
    left: 35%;
}
.iconContainer775{
    top:45%;
    left: 55%;
}
.iconContainer880{
    top:30%;
    left: 22%;
}
.iconContainer881{
    top:33%;
    left: 55%;
}
.iconContainer882{
    top:45%;
    left: 60%;
}

.iconBed{
    background-image: url(./Images/icons/icons/accomodation.png);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.iconDrink{
    background-image: url(./Images/icons/icons/food-copy.png);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.iconShip{
    background-image: url(./Images/icons/icons/harbour.png);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.iconCulture{
    background-image: url(./Images/icons/icons/museum-copy.png);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.iconHistory{
    background-image: url(./Images/icons/icons/history-copy.png);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.iconIndoor{
    background-image: url(./Images/icons/icons/indoor.png);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

}
.iconOutDoor{
    background-image: url(./Images/icons/icons/outdoor.png);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.iconShopping{
    background-image: url(./Images/icons/icons/shopping-copy.png);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.firstBed{
    position: absolute;
    left: 45%;
    top: 5%;
}
.secBed{
    position: absolute;
    left: 0;
}
.tirthBed{
    position: absolute;
    left: 45%;
    top: 5%;
}
.fourthBed{
    position: absolute;
    top: 10%;
    left: 45%;
}
.fifthBed{
    position: absolute;
    top: 15%;
    left: 5%;
}
.sixBed{
    position: absolute;
    top: 20%;
    left: 10%;
}
.firstShip{
    position: absolute;
    top: 16%;
    left: 35%;
}
.secShip{
    position: absolute;
    top: 15%;
    left: 5%;
}
.tirthShip{
    position: absolute;
    top: 5%;
    left: 15%;
}
.forthShip{
    position: absolute;
    top: 35%;
    left: 15%;
}
.fiveShip{
    position: absolute;
    top: 35%;
    left: 10%;
}
.imgFirstBed{
    background-image: url(./Images/active.jpg);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.firstOutdoor{

}
.secondOutdoor{
    top: 1%;
    left: 45%;
}
.tirthOutdoor{
    top: 40%;
    left: 5%;
}